<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.heima.dao.DefShareDao">

    <resultMap type="com.heima.model.DefShareModel" id="defShareMap">
        <id column="s_id" property="id"/>
        <result column="u_name" property="userName"/>
        <result column="u_id" property="userId"/>
        <result column="f_id" property="friendId"/>
        <result column="f_name" property="friendName"/>
        <result column="creator" property="creator"/>
        <result column="crtdatetime" property="crtDateTime"/>
    </resultMap>

    <insert id="insertData" parameterType="com.heima.model.DefShareModel" >
        insert into wkb.wkb_defshare(u_id, u_name,f_uid,f_uname,creator,crtdatetime)
        values (#{userId},#{userName},#{friendId},#{friendName},#{creator},#{crtDateTime})
    </insert>

    <select id="queryForList" parameterType="com.heima.model.DefShareModel" resultMap="defShareMap">
        select u_id, u_name,f_uid,f_uname,creator,crtdatetime from wkb.wkb_defshare
        where u_id = #{userId}

    </select>

</mapper>