<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.dao.WkbFeedbackDao">

    <insert id="insertData" parameterType="com.heima.model.WkbFeedback">
        insert into wkb_feedback (content, createDate,createBy)
        values (#{content,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
    </insert>

</mapper>